## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Java specific

*.class

# sbt specific
server/target/
server/project/boot
server/lib_managed/*
server/project/build/target
server/project/build/lib_managed
server/project/build/src_managed
server/project/plugins/lib_managed
server/project/plugins/target
server/project/plugins/src_managed
server/project/plugins/project
server/project/target

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# paulp script
server/.lib/

