*~
*.lock
*.DS_Store
*.swp
*.out
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# Client

client/bower_components

# Server

*.class
server/target/
server/project/boot
server/lib_managed/*
server/project/build/target
server/project/build/lib_managed
server/project/build/src_managed
server/project/plugins/lib_managed
server/project/plugins/target
server/project/plugins/src_managed
server/project/plugins/project
server/project/target
server/.lib/
server/src/main/resources/c3p0.properties
