<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <strong>
                    Tasty
                </strong>
            </div>

            <div class="col-lg-4 col-lg-offset-3">
                <input type="text" ng-model="search" class="form-control pull-right" placeholder="Filter" />
            </div>

            <div class="col-lg-1">
                <a data-toggle="modal" href="#form" class="form-control btn btn-primary text-center">
                    <i class="glyphicon glyphicon-star"></i>
                </a>
            </div>
        </div>
    </div>
</header>

<section class="container">
    <div class="row">
        <article ng-repeat="taste in tastes | filter:search" class="col-md-3 col-sm-6 col-xs-12">
            <div class="content" style="background-image: url('//place.manatee.lc/10/200/300.jpg');">
                <div class="inner">
                    <h3>{{ taste.name }}</h3>

                    <div class="description">
                        {{ taste.description }}
                    </div>

                    <div class="rating">
                        {{ taste.rating }}
                    </div>

                    <div class="tags">
                        <span class="label label-default">coffee</span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<div id="form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add to collection</h4>
            </div>

            <div class="modal-body">
                <ng-include src="'views/taste/form.html'"></ng-include>
            </div>
        </div>
    </div>
</div>