<header class="container">
    <div class="row">
        <div class="col-lg-4">
            tasty
        </div>

        <div class="col-lg-1 col-lg-offset-3">
            <a class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>

        <div class="col-lg-4">
            <input type="text" ng-model="search" class="form-control pull-right" placeholder="Filter" />
        </div>
    </div>
</header>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <ng-include src="'views/taste/form.html'"></ng-include>
        </div>
    </div>

    <div class="row">
        <article ng-repeat="taste in tastes | filter:search" class="col-md-3 col-sm-6 col-xs-12">
            <div class="content">
                <h3>{{ taste.name }}</h3>

                <div class="description">
                    {{ taste.description }}
                </div>

                <div class="rating">
                    {{ taste.rating }}
                </div>

                <div class="tags">
                    <span class="label label-default">coffee</span>
                    <span class="label label-default">coffee</span>
                </div>
            </div>
        </article>
    </div>
</section>