@font-primary: "Open Sans";

@spacing: 20px;
@radius: 3px;

@color-primary: #357a79;;
@color-accent: #ff7b22;

body {
  font-family: @font-primary;
  font-weight: 300;

  background-color: @color-primary;
  background-image: url('../images/header.jpg'), url('../images/background.jpg');
  background-repeat: no-repeat, repeat;
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-primary;
  font-weight: 800;
}

section {
  margin: @spacing 0;
}

header {
  padding: @spacing 0;
  margin-bottom: @spacing * 3;

  background-color: rgba(20, 20, 20, 0.25);
  color: white;

  input {
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }
}

article {
  margin-bottom: @spacing;

  color: white;

  .content {
    border-radius: @radius;

    .inner {
      padding: @spacing;

      background-color: rgba(20, 20, 20, 0.75);
      border-radius: @radius;

      h3 {
        margin-top: 0;

        font-size: 24px;
      }

      .tags {
        padding-top: @spacing;

        .label {
          font-weight: 300;
        }
      }
    }
  }
}

.btn {
  font-weight: 400;

  opacity: 0.95;

  &.btn-primary {
    background-color: @color-accent;
    border-color: @color-accent;
    border-bottom: 3px solid transparent;
    border-bottom-color: darken(@color-accent, 8);
  }

  &:hover {
    opacity: 1.0;
  }

  &:active {

  }
}
