@(tastes: List[models.Taste])

@main("Welcome to Play 2.1") {
    <div class="row">
        @for(taste <- tastes) {
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="image" style="background-image: url('@routes.Assets.at("data/sample.jpg")');"></div>
                <div class="content">
                    <h3>@taste.name</h3>

                    <div class="description">
                        @taste.description
                    </div>

                    <aside>
                        @*for(tag <- taste.tags) {
                            @tag
                        }*@
                    </aside>
                </div>
            </article>
        }

        <article class="col-md-3 col-sm-6 col-xs-12">
            <a class="btn btn-default btn-lg">
                New
            </a>
        </article>
    </div>
}